/* CSS for Admin Homepage*/

.navbar {
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-columns .card-text {
    color: black;
    font-size: 25px;
}

.card-columns .card-title {
    font-size: 45px;
    color: black;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 500ms;
}


/*CSS for New Registration Page*/

.autocomplete-box {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    top: 100%;left: 0;right: 0;
    background-color: white;
    z-index:10;
}

.autocomplete-items div {
    padding: 2px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.autocomplete-items div.activeSuggestion {
    background-color: dodgerblue;
    color:white;
}
.autocomplete-items div:hover {
    background-color: #eee;
    cursor: pointer;
}

.price_div , .price_type_checkboxes ,.price_type_row {
    display: none;
}
#food-menu-tab > .col-md-4{
    background-color: rgb(255, 251, 251);
    margin: 15px 0px;
    box-shadow: 2px 2px 10px grey;
}
.food-thumb {
	width:70px;
	height:70px;
}

/*CSS for All Restaurant page*/

#restaurant-search-bar {
    width: 100%;
    border: none;
    box-shadow:0 0.1rem 0.3rem rgba(0,0,0,.175);
    height: 20px;
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border-radius: 1rem;
    color: rgb(84, 84, 87);
}

.myitem {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    margin: 10px;
}

.result-item {
    width: 380px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
}
.result-item:hover {
    transform: scale(1.02);
    transition: transform 50ms;
}